# -------------------------------
# Backend (Laravel/PHP)
# -------------------------------
/vendor/
/node_modules/
/storage/*.key
/bootstrap/compiled.php
/public/storage
/public/hot
/public_html/storage
/public_html/hot
/.vagrant
.phpunit.result.cache
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
.phpactor.json
auth.json

# -------------------------------
# Frontend (React/Vite/Tailwind)
# -------------------------------
/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/*.log

# -------------------------------
# Global (para todo el repositorio)
# -------------------------------
*.log
npm-debug.log*
yarn-error.log*
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json