# Archivos y carpetas de Laravel
/vendor/
/node_modules/
/.env
/storage/*.key
/public/storage
/public/hot
/public/.htaccess
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/npm-debug.log
/yarn-error.log
/composer.lock
/package-lock.json

# Archivos de caché y logs
*.log
*.cache
/storage/logs/*
!/storage/logs/.gitignore

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de pruebas y entorno local
/.vscode/
/.idea/
/coverage/